

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: cornflowerblue;
}

header{
  z-index: 1;
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  margin-left: 50px ;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn {
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
  border-radius: 25px;
}

.sign_in_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;

}

.sign_in_btn:hover{
  background: #0B87A6;
}

.sign_in_btn i{
  padding-right: 5px;
}

.register_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -48px;
  margin-right: 130px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;

}

.register_btn i{
  padding-right: 5px;
}

.register_btn:hover{
  background: #0B87A6;
}

.sidebar{
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 25px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  width: (100% - 250px);
  margin-top: 70px;
  margin-left: 250px;
  background: #55B1F0;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.content .card{
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center; 
  margin: auto;
}

tr {
  text-align: center; 
  display:grid;
  width: 85%;
  grid-template-columns: 5% 5% 5% 5%;
  grid-gap: 50px;

}


#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

.content .card p{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/** Main-Content **/ 
main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.2),
      -30px 0px 40px rgba(0, 0, 0, 0.2);
}

/* Footer */
::-webkit-scrollbar {
  width: 12px;
  height: auto;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#fff, cyan);
  transition: 0.3s;
  border-radius: 25px;

}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(cyan, hotpink);
  border-radius: 25px;
}

footer {
  text-align: center;
  padding: 0rem 0rem 2rem 0rem;
  margin: auto;
  color: #fff;
  line-height: 0.5;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

.social-media {
  margin-bottom: 0px;
}

.fab {
  height: 30px;
  width: 50px;
  padding-top: 15px;
  border-radius: 50px;
  transition: 0.3s;
}

.fab:hover {
  background: linear-gradient(orange, yellow, red);
  color: midnightblue;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: lightskyblue;
  color: white;
}

.fa-discord {
  background: black;
  color: #fff;
}

.fa-microsoft {
  background: #fff;
  color: royalblue;
}

.fa-instagram {
  background: hotpink;
  color: #fff;
}

.slotbutton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0b193f;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #999;
}

.slotbutton:hover {background-color: #18337e}

.slotbutton:active {
background-color: #0b193f;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.mainlist {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  grid-template-areas: 
  "thumbnail thumbnail thumbnail"
  "border1 border1 border1"
  "contentdetail1 contentdetail1 contentdetail1"
  "border2 border2 border2"
  "contentdetail2 contentdetail2 contentdetail2"
  "step-one step-two step-three"
  "border3 border3 border3"
  "contentthumb3 contentdetail3 contentdetail3"
  "border4 border4 border4"
  "contentdetail4 contentdetail4 contentthumb4"
  "border5 border5 border5"
  "contentthumb5 contentdetail5 contentdetail5"
  "border6 border6 border6"
  "final final final";

}

.thumbnail{
  grid-area: thumbnail;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: -3px;
}

.thumbnail img {
    align-items: center;
    max-width: 2000px;
    max-height: 500px;
    width: 100%;
    height: auto;
}
.news_thumb{
  text-align: center;
}

.border1{
  grid-area: border1;
  background: white;
  height: 30px;
}
.border2{
  grid-area: border2;
  background: white;
  height: 30px;
}

.border3{
  grid-area: border3;
  background: white;
  height: 30px;
}

.border4{
  grid-area: border4;
  background: white;
  height: 30px;
}

.border5{
  grid-area: border5;
  background: white;
  height: 30px;
}

.border6{
  grid-area: border6;
  background: white;
  height: 30px;
}

.thumbtext{
  grid-area: thumbnail;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.thumbtext h1{
  font-size: 35px;
  color: white;
  filter: brightness(100%);
  margin: 0;
  padding-bottom: 50px;
}

.thumbtext h1 span{
  font-size: 35px;
  color: #19B3D3;
}

.thumbtext h2{
  font-size: 15px;
  color: white;
  filter: brightness(100%);
  margin: 0;
  padding-bottom: 50px;
}

.contentthumb1{
  grid-area: contentthumb1;
  background: rgb(78, 78, 78);
  margin-bottom: -3px;
  width: 100%;
  padding: 45px;
  row-gap: 15px;

}

.contentthumb1 img{
  width: 100%;
  padding: 45px;
  row-gap: 15px;
  align-items: center;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: auto;
}

.contentdetail1{
  grid-area: contentdetail1;
  height: 250px;
  background: rgb(78, 78, 78);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.contentdetail1 h1{
  font-size: 25px;
  color: white;
  filter: brightness(100%);
  margin: 0;
}

.contentdetail1 h2{
  font-size: 30px;
  color: white;
  filter: brightness(100%);
  margin: 0;
}

.contentdetail2{
  grid-area: contentdetail2;
  height: 75px;
  background: rgb(78, 78, 78);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.contentdetail2 h1{
  font-size: 25px;
  color: white;
  filter: brightness(100%);
  margin: 0;
}

.contentdetail2 h2{
  font-size: 30px;
  color: white;
  filter: brightness(100%);
  margin: 0;
}

.content .card .icon{
  color: white;
  background: rgb(78, 78, 78); 
  padding: 15px;
  margin-bottom: 10px;
  font-size:2em;
    opacity: 0.8;
}

.step-one{
  grid-area: step-one;
  padding-top: 35px;
  padding-bottom: 35px;
  color: white;
  background: rgb(78, 78, 78);
  width: 100%;
  height: 150px;
  text-align: center;
  justify-content:center;

} 

.step-one:hover {
  color: black;
  background: rgb(141, 141, 141); 
  transition: 0.3s; 
}

.step-one p .fa-fa-clipboard-fa-4x{
  background: rgb(78, 78, 78);
} 

.step-two{
  grid-area: step-two;
  padding-top: 35px;
  padding-bottom: 35px;
  color: white;
  background: rgb(78, 78, 78);
  width: 100%;
  height: 150px;
  text-align: center;
  justify-content:center;

} 

.step-two:hover {
  color: black;
  background: rgb(141, 141, 141); 
  transition: 0.3s; 
}

.step-two p .fa-fa-clipboard-fa-4x{
  background: rgb(78, 78, 78);
} 

.step-three{
  grid-area: step-three;
  padding-top: 35px;
  padding-bottom: 35px;
  color: white;
  background: rgb(78, 78, 78);
  width: 100%;
  height: 150px;
  text-align: center;
  justify-content:center;

} 

.step-three:hover {
  color: black;
  background: rgb(141, 141, 141); 
  transition: 0.3s; 
}

.step-three p .fa-fa-clipboard-fa-4x{
  background: rgb(78, 78, 78);
} 

.contentthumb3{
  grid-area: contentthumb3;
  background: rgb(56, 56, 56);
  margin-bottom: -3px;
  justify-content: center;
  text-align: center;
}

.contentthumb3 img{
  width: 100%;
  row-gap: 15px;
  align-items: center;
  height: auto;
}

.contentdetail3{
  grid-area: contentdetail3;
  background: rgb(78, 78, 78);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  margin-bottom: -3px ;
}

.contentthumb4{
  grid-area: contentthumb4;
  background: rgb(56, 56, 56);
  margin-bottom: -3px;
}

.contentthumb4 img{
  width: 100%;
  row-gap: 15px;
  align-items: center;
  height: auto;
}

.contentdetail4{
  grid-area: contentdetail4;
  background: rgb(78, 78, 78);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  margin-bottom: -3px ;
}

.contentthumb5{
  grid-area: contentthumb5;
  background: rgb(56, 56, 56);
  justify-content: center;
  text-align: center;
}

.contentthumb5 img{
  width: 100%;
  row-gap: 15px;
  align-items: center;
}

.contentdetail5{
  grid-area: contentdetail5;
  background: rgb(78, 78, 78);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.final{
  grid-area: final;
  position:relative;
  height: auto;
  background: rgb(78, 78, 78);
  color: white;
  text-align: center;
  padding: 25px;
}

.final .big_signup_btn {
  padding: 15px;
}
.final h1{
  font-size: 35px;
  color: rgb(163, 167, 216);
  filter: brightness(100%);
  margin: 0;
}

.final h2{
  font-size: 30px;
  color: white;
  filter: brightness(100%);
  margin: 0;
}

/*.big_signup_btn{
  height: 50px;
  padding-top: 10px;
  background: #192bd3;
  text-decoration: none;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 600;
  color: black;
  transition: 0.5s;
  transition-property: background;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.big_signup_btn i{
  padding-right: 5px;
}

.big_signup_btn:hover{
  background: #00095c;
  color: white;

}
*/

.big_button{
  margin:20px;
}
.big_button a{
  color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    display:block;
    padding:20px 40px;
  background-color:#0056f7;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #c4d9ff, 0 10px 0 #020d74;
  -moz-box-shadow:inset 0 1px 0 #c4cfff, 0 10px 0 #020d74;
  box-shadow:inset 0 1px 0 #c4cfff, 0 10px 0 #020d74;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.big_button a:active{
  top:10px;
  background-color:#0019f7;
  
  -webkit-box-shadow:inset 0 1px 0 #c4d9ff, inset 0 -3px 0 #020d74;
  -moz-box-shadow:inset 0 1px 0 #c4cfff, inset 0 -3pxpx 0 #020d74;
  box-shadow:inset 0 1px 0 #c4cfff, inset 0 -3px 0 #020d74;
}

.big_button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


/* Responsive CSS */

@media screen and (max-width: 1000px){

  .mainlist {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-template-areas: 
    "thumbnail"
    "border1"
    "contentdetail1"
    "border2"
    "contentdetail2"
    "step-one"
    "step-two"
    "step-three"
    "border3"
    "contentthumb3"
    "contentdetail3"
    "border4"
    "contentthumb4"
    "contentdetail4"
    "border5"
    "contentthumb5"
    "contentdetail5"
    "border6"
    "final";
  
  }
  
}

@media screen and (max-width: 780px){
  .left_area h3 {
    margin-left: 0px;
  }

  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    transition: 0s;
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #222;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover{
    color: #19B3D3;
  }

  .mobile_nav_items{
    background: #2F323A;
    display: none;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #19B3D3;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }

  .content .card .list{
    
    columns: 147px 2;
  }

}

@media screen and (max-width: 655px){
  .left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }

  .left_area h3{
    font-size: 15px;
    width:15px;
  }

  .thumbtext h1{
    font-size: 25px;
  }
  
  .thumbtext h1 span{
    font-size: 25px;
  }
  
  .thumbtext h2{
    font-size: 25px;
  }

  .thumbnail img {
    height:fit-content
  }

  .contentdetail1 h1{
  font-size: 15px;

  }

  .contentdetail1 h2{
  font-size: 20px;

  }
  
}

@media screen and (max-width: 540px){

  .newstitle{
    grid-area: newstitle;
    color: #fff;
    font-size: 15px;
    padding: 25px;
    word-wrap: break-word;
  }

  .detail{
    font-size: 12px;
    text-align: center;

  }
  
  .postdate{
    font-size: 12px;
    text-align: center;


  }
  
  .left_area span{
    color: #19B3D3;
  }

  .content .card{
    width: 100%;
  }

}

  @media screen and (max-width: 360px){


    #CurrentPassword {
      width: 75%;
      height: 30px;
  }


  
    
  }
      


  
  