@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@counter-style repeating-emoji {
    system: cyclic;
    symbols: "\1F431" "\1F436" "\1F984"; // unicode code point
    suffix: " ";
  }

  body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #64b5f6;
  }

/* Header */

  .page-desc {
      background: cyan;
      text-align: center;
  }

  .page-desc h1 {
    font-size: 3rem;
    margin: 0;
    color: midnightblue;
    font-style: italic;
  }

  header{
    z-index: 1;
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
  }
  
  .left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-left: 50px ;
  }
  
  .left_area span{
    color: #19B3D3;
  }
  
  .logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    background: #0B87A6;
  }
  
  .sign_in_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  
  }
  
  .sign_in_btn:hover{
    background: #0B87A6;
  }
  
  .sign_in_btn i{
    padding-right: 5px;
  }
  
  .register_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -48px;
    margin-right: 130px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  
  }
  
  .register_btn i{
    padding-right: 5px;
  }
  
  .register_btn:hover{
    background: #0B87A6;
  }

  .sidebar{
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 25px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info{
    display: none;
  }
  
  #check{
    display: none;
  }
  
  .mobile_nav{
    display: none;
  }
  
  .content .card p{
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
  }
  
/** Main-Content **/ 
.content {
    padding-top: 90px;
    padding-left: 80px;
    padding-right: 75px;
    background: #55B1F0;
}

.tnc {
    background: midnightblue;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 1.3rem;
    padding-right: 12px;
    padding-bottom: 5px;
}

.tnc h1 {
    margin:0;
    color: yellow;
    font-size: 2rem;
    text-decoration: underline;
}

.tnc h2 {
    margin: 0;
    color: greenyellow;
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.tnc p {
    color: #fff;
    margin: 0;
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: justify;
}

.directory-ul {
    line-height: 1.5;
    margin: 0;
    margin-top: 3px;
    list-style-type: repeating-emoji;
    list-style: none;
}

.tnc a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.directory-ul li::before {
    content: "☁️ ";
}

.license-tnc, .license-tnc-2, .hyperlink-tnc, .hyperlink-tnc-2, .hyperlink-tnc-3, .disclaimer-tnc {
    line-height: 1.5;
    margin: 0;
    margin-bottom: 15px;
    list-style-type: repeating-emoji;
    list-style: none;
}

.license-tnc li, .disclaimer-tnc li {
    color: crimson;
    font-weight: bold;
    font-style: italic;
}

.license-tnc li::before, .disclaimer-tnc li::before {
    content: "❌ ";
}

.license-tnc-2 li, .hyperlink-tnc li, .hyperlink-tnc-3 li {
    color: chartreuse;
    font-weight: bold;
    font-style: italic;
    text-indent: -1.7em;
    padding-left: 33px;
}

.license-tnc-2 li::before, .hyperlink-tnc li::before, .hyperlink-tnc-3 li::before {
    content: "✔️ ";
}

.hyperlink-tnc-2 li {
    color: gold;
    font-weight: bold;
    font-style: italic;
    text-indent: -1.7em;
    padding-left: 33px;
}

.hyperlink-tnc-2 li::before {
    content: "⌛ ";
}

#btn-top {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    height: 60px;
    width: 60px;
    padding: 0;
    transition: 0.3s;
}

#btn-top:hover {
    background: linear-gradient(to top right, cyan, aquamarine);
}

.fa-arrow-circle-up {
    color: tomato;
    font-size: 3rem;
    transition: 0.3s;
}

.fa-arrow-circle-up:hover {
    color: midnightblue;
}

/* Footer */
::-webkit-scrollbar {
  width: 12px;
  height: auto;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#fff, cyan);
  transition: 0.3s;
  border-radius: 25px;

}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(cyan, hotpink);
  border-radius: 25px;
} 

footer {
    text-align: center;
    margin: auto;
    color: #fff;
    line-height: 0.5;
    padding-left: 90px;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

.social-media {
    margin-bottom: 50px;
}

.fab {
    height: 30px;
    width: 50px;
    padding-top: 15px;
    border-radius: 50px;
    transition: 0.3s;
}

.fab:hover {
  background: linear-gradient(to bottom right, red, cyan);
  color: #fff;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-twitter {
    background: lightskyblue;
    color: white;
}

.fa-discord {
    background: black;
    color: #fff;
}

.fa-microsoft {
    background: #fff;
    color: royalblue;
}

.fa-instagram {
    background: hotpink;
    color: #fff;
}

  /* Responsive CSS */
  
  @media screen and (max-width: 780px){
    /* Header */
    .left_area h3 {
      margin-left: 0px;
    }
    
    .sidebar{
      display: none;
    }
  
    #sidebar_btn{
      display: none;
    }
  
    .content{
      margin-left: 0;
      margin-top: 0;
      padding: 10px 20px;
      transition: 0s;
      padding-bottom: 25px;
      padding-left: 100px;
    }

    #check:checked ~ .content{
      margin-left: 0;
    }
  
    .mobile_nav{
      display: block;
      width: calc(100% - 0%);
    }
  
    .nav_bar{
      background: #222;
      width: (100% - 0px);
      margin-top: 69px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
  
    .nav_bar .mobile_profile_image{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  
    .nav_bar .nav_btn{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: color;
    }
  
    .nav_bar .nav_btn:hover{
      color: #19B3D3;
    }
  
    .mobile_nav_items{
      background: #2F323A;
      display: none;
    }
  
    .mobile_nav_items a{
      color: #fff;
      display: block;
      text-align: center;
      letter-spacing: 1px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;
      transition-property: background;
    }
  
    .mobile_nav_items a:hover{
      background: #19B3D3;
    }
  
    .mobile_nav_items i{
      padding-right: 10px;
    }
  
    .active{
      display: block;
    }
    /* Main-Content */

    .content {
        padding-left: 20px;
        padding-top: 20px;
    }

    /* Footer */
    footer {
      padding-left: 0px;
    }

    .social-media {
      margin-bottom: 10px;
    }

  }

  @media screen and (max-width: 540px){

    /* Header */
  
    .page-desc h1 {
      font-size: 2rem;
    }

    /* Main-Content */

    .tnc {
        font-size: 1rem;
    }

    .tnc h1 {
        font-size: 1.5rem;
    }
    
    .tnc h2 {
        font-size: 1.3rem;
    }

    .license-tnc li, .disclaimer-tnc li {
        text-indent: -1.7em;
    }

    .license-tnc-2 li, .hyperlink-tnc li, .hyperlink-tnc-2 li, .hyperlink-tnc-3 li {
        padding-left: 0;
    }

    #btn-top {
        bottom: 10px;
        right: 10px;
        background: #fff;
        height: 40px;
        width: 40px;
    }
    
    .fa-arrow-circle-up {
        font-size: 2rem;
    }

    .left_area h3{
      font-size: 15px;
      width:15px;
    }
    
    .left_area span{
      color: #19B3D3;
    }

  
  /* Footer */
    footer {
      text-align: center;
      padding: 0rem 0rem 1rem 0rem;
      margin: auto;
      color: #fff;
      line-height: 0.5;
      margin-bottom: 10px;
  }
  
  footer h3 {
      font-size: 3rem;
      margin-bottom: 0;
      padding-top: 10px;
  }
  
  .social-media {
      margin-top: 0px;
  }
  
  .fab {
      height: 30px;
      width: 50px;
      padding-top: 15px;
      border-radius: 50px;
      transition: 0.3s;
  }
  
  .fa-facebook {
      background: #3B5998;
      color: white;
    }
  
  .fa-twitter {
      background: lightskyblue;
      color: white;
  }
  
  .fa-discord {
      background: black;
      color: #fff;
  }
  
  .fa-microsoft {
      background: #fff;
      color: royalblue;
  }
  
  .fa-instagram {
      background: hotpink;
      color: #fff;
  }

}