@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: lightskyblue;
}

/* Header */

#page-description {
    text-align: center;
    margin-top: 5px;
}

#page-description h1 {
    background: royalblue;
    color: #fff;
    margin: 0;
    font-size: 3rem;
    font-style: italic;
}

#page-description h2 {
    background: #fff;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: italic;
}

header {
    z-index: 1;
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
}

.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-left: 50px;
}

.left_area span {
    color: #19B3D3;
}

.logout_btn {
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
    border-radius: 25px;
}

.logout_btn:hover {
    background: #0B87A6;
}

.sidebar {
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile_info .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .profile_info h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #19B3D3;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 25px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #19B3D3;
}

#check:checked~.sidebar {
    left: -185px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
}

.content {
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background: #55B1F0;
    background-position: center;
    background-size: cover;
    height: auto;
    transition: 0.5s;
}

#check:checked~.content {
    margin-left: 60px;
}

#check:checked~.sidebar .profile_info {
    display: none;
}

#check {
    display: none;
}

.mobile_nav {
    display: none;
}

.content .card p {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
}

/** Main-Content **/

.tabs {
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    font-weight: bold;
    text-transform: uppercase;
}

.tabs label {
    order: 1;
    color: #FCF6F5ff;
    display: block;
    padding: 1rem 2rem;
    cursor: pointer;
    background:#3d6098;
    font-weight: bold;
    transition: background ease 0.2s;
    font-size: 1.5rem;
    font-style: italic;
}


.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    background: linear-gradient(to top right, cyan, midnightblue, royalblue, lightskyblue);
    /*background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);*/
    /*background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);*/
    color:  #fff176;
    font-weight: bold;
    font-style: normal;
   border-bottom: 5px solid #fff176;
}


.tabs input[type="radio"]:checked+label+.tab:hover{
    background-position: right center;
}



.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}

.consultation {
    background: #213159;
    padding: 1% 0% 1% 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr;
   border: 5px solid #3d6098;
}

.consultation-info h1 {
    color: #fFD662ff;
    font-style: italic;
    font-size: 2.5rem;
    color: #a7e8f8; 
    font-family: 'Julius Sans One', sans-serif; 
    font-weight: bold; 
    line-height: 32px; 
    text-shadow: 2px 2px 2px white;
}

.consultation-info h4 {
    color: #fff;
    margin: 0;
    padding: 5px;
    font-size: 0.8rem;
}

.view-consultation-details {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.btn-view {
    padding-top: 10px;
    border-radius: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.btn-view:focus {
    outline: none;
}

.fas {
    border-radius: 50%;
}

.fa-search-plus {
    color: #fff176;
    font-size: 4rem;
    transition: 0.3s;
}

.fa-search-plus:hover {
    color: #ffdc00;
    text-shadow: 2px 2px 2px #d5b60a;
    transition: .5s;
}

.fa-check-circle-o {
    color: #fff176;
    font-size: 4rem;
    transition: 0.3s;
}

.fa-check-circle-o:hover {
    color: #ffdc00;
    text-shadow: 2px 2px 2px #d5b60a;
    transition: .5s;
}


/* Footer */

::-webkit-scrollbar {
    width: 12px;
    height: auto;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#fff, cyan);
    transition: 0.3s;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(cyan, hotpink);
    border-radius: 25px;
}

footer {
    text-align: center;
    padding: 0rem 0rem 2rem 0rem;
    margin: auto;
    color: #fff;
    line-height: 0.5;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

.social-media {
    margin-bottom: 0px;
}

.fab {
    height: 30px;
    width: 55px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 50px;
    transition: 0.3s;
}

.social-media a {
    font-size: 1.5rem;
}

.fab:hover {
    background: linear-gradient(to right, aquamarine, orange);
    ;
    color: palevioletred;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: lightskyblue;
    color: white;
}

.fa-discord {
    background: black;
    color: #fff;
}

.fa-microsoft {
    background: #fff;
    color: royalblue;
}

.fa-instagram {
    background: hotpink;
    color: #fff;
}

/* Responsive CSS */

@media screen and (max-width: 780px) {
    /* Header */
    .left_area h3 {
        margin-left: 0;
    }

    .sidebar {
        display: none;
    }
    #sidebar_btn {
        display: none;
    }
    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
        padding-bottom: 25px;
    }
    #check:checked~.content {
        margin-left: 0;
    }
    .mobile_nav {
        display: block;
        width: calc(100% - 0%);
    }
    .nav_bar {
        background: #222;
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .nav_bar .nav_btn {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }
    .nav_bar .nav_btn:hover {
        color: #19B3D3;
    }
    .mobile_nav_items {
        background: #2F323A;
        display: none;
    }
    .mobile_nav_items a {
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }
    .mobile_nav_items a:hover {
        background: #19B3D3;
    }
    .mobile_nav_items i {
        padding-right: 10px;
    }
    .active {
        display: block;
    }
    /* Main-Content */

    .view-consultation-details {
        padding-top: 20px;
    }

    .consultation-info h1 {
        line-height:37px;
    }

    .consultation {
        margin-bottom: 15px;
    }

    .btn-view {
        padding-top: 5px;
    }

    /* Footer */
    .social-media a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 540px) {
    .logout_btn{
        margin-top: -35px !important;
    }
    /* Header */
    #page-description h1 {
        font-size: 2rem;
    }
    #page-description h2 {
        font-size: 1.3rem;
    }
    .left_area h3 {
        font-size: 15px;
        width: 15px;
        margin-left: 0px;
    }
    .left_area span {
        color: #19B3D3;
    }
    /* Main-Content */
    .tabs label {
        order: 1;
        color: #fff;
        display: block;
        padding: 1rem 2rem;
        cursor: pointer;
        background: #3d6098;
        font-weight: bold;
        transition: background ease 0.2s;
        font-size: 1.3rem;
    }
    
    .tabs .tab {
        order: 99;
        flex-grow: 1;
        width: 90%;
        display: none;
        padding: 1rem;
        background: #fff;
    }

    .view-consultation-details {
        padding-top: 30px;
    }

    .consultation {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .consultation-info h1 {
        font-size: 1.5rem;

    }

    .btn-view {
        padding-top: 30px;
    }

    .fa-search-plus {
        font-size: 2.3rem;
    }
    .fa-check-circle-o {
        font-size: 2.3rem;
    }

    /* Footer */
    footer {
        text-align: center;
        padding: 0rem 0rem 1rem 0rem;
        margin: auto;
        color: #333;
        line-height: 0.5;
    }
    footer h3 {
        font-size: 3rem;
        margin-bottom: 0;
        padding-top: 10px;
    }
    .social-media {
        margin-top: 0px;
    }
}