@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  background: #64b5f6;
  overflow-x: hidden;
}

/*New List*/

.select-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 1210px;
}

.select-content h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.select-content h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.content-preview {
  background-color: #3498DB;
  color: #fff;
  padding: 30px;
  max-width: 400px;
  width: 400px;
}

.content-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.content-info {
  padding: 30px;
  position: relative;
  width: 100%;
}

.progress-container {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 150px;
}

.progress {
  background-color: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.progress::after {
  border-radius: 3px;
  background-color: #5DADE2;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 66%;
}

.progress-text {
  font-size: 10px;
  opacity: 0.6;
  letter-spacing: 1px;
}

.btnContinue {
  cursor: pointer;
  background-color: #5DADE2;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
  transition: .5s;
}

.btnContinue:hover {
  background-color: #027ed1;
}

/* Header */

.page-msg, .page-message {
  text-align: center;
  margin-top: -20px;
  width: 110%;
  margin-left: -20px;
  margin-bottom: 30px;
}

.page-msg h1, .page-message h1 {
  margin: 0;
  margin-top: 10px;
  background-color: #0F5298;
  color: #fff;
  font-size: 3.5rem;
  font-family: 'Oswald', sans-serif;
}

.page-msg h2, .page-message h2 {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fff;
  color: midnightblue;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

header {
  z-index: 1;
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  margin-left: 50px;
}

.left_area span {
  color: #19B3D3;
}

.logout_btn {
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
  border-radius: 25px;
}

.logout_btn:hover {
  background: #0B87A6;
}

.sign_in_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;

}

.sign_in_btn:hover{
  background: #0B87A6;
}

.sign_in_btn i{
  padding-right: 5px;
}

.register_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -48px;
  margin-right: 130px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;

}

.register_btn i{
  padding-right: 5px;
}

.register_btn:hover{
  background: #0B87A6;
}

.sidebar {
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover {
  background: #19B3D3;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 25px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover {
  color: #19B3D3;
}

#check:checked~.sidebar {
  left: -185px;
}

#check:checked~.sidebar a span {
  display: none;
}

#check:checked~.sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.contents {
  width: (100% - 0px);
  margin-top: 60px;
  padding: 20px;
  padding-left: 25px;
  margin-left: 250px;
  background: lightskyblue;
  background-position: center;
  background-size: cover;
  height: auto;
  transition: 0.5s;
}

#check:checked~.content, #check:checked~.contents {
  margin-left: 60px;
}

#check:checked~.sidebar .profile_info {
  display: none;
}

#check {
  display: none;
}

.mobile_nav {
  display: none;
}

.content .card p, .contents .card p {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/** Main-Content **/

.post-display {
  margin: 0;
  width: 100%;
  background: #1c2331;
  border-spacing: 10px;
}

.post-list tr, .post-list td {
  border: 2px solid #fff;
  border-collapse: collapse;
  line-height: 1.5;
  border-spacing: 100px;
}

.post-list td {
  padding: 10px 0px 0px 10px;
}

.post-list td a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.3s;
}

.post-list td a:hover {
  color: #66d3fa;
}

.post-list td h4 {
  margin: 0;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 10px;
  color: #fff;
}

.post-list td h4 a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  transition: 0.3s;
}

.post-list td h4 a:hover {
  color: #3c99dc;
}

.pages, .page {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.pages a, .page a {
  background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%);
}

.pages a, .page a {
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
}

.pages a:hover:not(.active), .page a:hover:not(.active) {
  background-position: right center;
  text-decoration: none;
  color: wheat;
}

/* Footer */

::-webkit-scrollbar {
  width: 12px;
  height: auto;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#fff, cyan);
  transition: 0.3s;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(cyan, hotpink);
  border-radius: 25px;
}

footer {
  text-align: center;
  padding: 0rem 0rem 2rem 5.5rem;
  margin: auto;
  color: #fff;
  line-height: 0.5;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

.social-media {
  margin-bottom: 0px;
}

.fab {
  height: 30px;
  width: 50px;
  padding-top: 15px;
  border-radius: 50px;
  transition: 0.3s;
}

.fab:hover {
  background: linear-gradient(orange, yellow, red);
  color: midnightblue;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: lightskyblue;
  color: white;
}

.fa-discord {
  background: black;
  color: #fff;
}

.fa-microsoft {
  background: #fff;
  color: royalblue;
}

.fa-instagram {
  background: hotpink;
  color: #fff;
}

/* Responsive CSS */

@media screen and (max-width: 780px) {
  header {
    width: 96%;
  }
  /*selection*/
  .select-content {
    width: 94vw;
    margin-left: 0px;
  }
  .content-preview {
    width: 30%;
  }
  /* Header */
  .page-msg, .page-message {
    width: 100vw;
  }
  .sidebar {
    display: none;
  }
  #sidebar_btn {
    display: none;
  }
  .content, .contents {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
    padding-bottom: 25px;
  }
  #check:checked~.content, #check:checked~.contents {
    margin-left: 0;
  }
  .mobile_nav {
    display: block;
    width: calc(100% - 0%);
  }
  .nav_bar {
    background: #222;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .nav_bar .nav_btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }
  .nav_bar .nav_btn:hover {
    color: #19B3D3;
  }
  .mobile_nav_items {
    background: #2F323A;
    display: none;
  }
  .mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  .mobile_nav_items a:hover {
    background: #19B3D3;
  }
  .mobile_nav_items i {
    padding-right: 10px;
  }
  .active {
    display: block;
  }
  /* Main-Content */
  .logout_btn {
    margin-right: 6px;
  }

  .left_area h3 {
    margin-left: 0px;
  }

  /* Footer */
  footer {
    padding: 0;
    padding-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
  }
  footer h3 {
    margin: 0;
  }
}

@media screen and (max-width: 540px) {
  .logout_btn{
    margin-top: -35px !important;
    margin-right: 0px !important;
  }
  header {
    width: 90vw !important;
  }
  .mobile_nav {
    width: 100% !important;
  }
  /*selection*/
  .select-content {
    width: 100vw;
    margin-left: 5px;
  }
  .content-preview {
    width: 40%;
  }
  /* Header */
  .page-msg, .page-message {
    width: 100vw;
  }
  .page-msg h1, .page-message h1 {
    font-size: 2rem;
  }
  .page-msg h2, .page-message h2 {
    font-size: 1.5rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  .left_area h3 {
    font-size: 15px;
    width: 15px;
    margin-left: 0px;
  }
  .left_area span {
    color: #19B3D3;
  }
  /* Main-Content */
  .post-display td a {
    font-size: 1.8rem;
  }
  .pages a {
    font-size: 1rem;
    padding: 10px;
  }
  /* Footer */
  footer {
    padding-top: 10px;
    padding-right: 20px;
  }
}