body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  z-index: 1;
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  margin-left: 50px;
}

.left_area span {
  color: #19B3D3;
}

.logout_btn {
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
  border-radius: 25px;
}

.logout_btn:hover {
  background: #0B87A6;
}

.sidebar {
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover {
  background: #19B3D3;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 25px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover {
  color: #19B3D3;
}

#check:checked~.sidebar {
  left: -185px;
}

#check:checked~.sidebar a span {
  display: none;
}

#check:checked~.sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content {
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background: #55B1F0;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.content .card {
  background: rgb(21, 59, 102);
  padding: 25px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 220px;
}

.content .cardTitle {
  background: rgb(21, 59, 102);
  padding: 15px;
  margin-bottom: 10px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  text-align: center;
}

tr {
  text-align: center;
  display: grid;
  width: 85%;
  grid-template-columns: 5% 5% 5% 5%;
  grid-gap: 50px;
}

#check:checked~.content {
  margin-left: 60px;
}

#check:checked~.sidebar .profile_info {
  display: none;
}

#check {
  display: none;
}

.mobile_nav {
  display: none;
}

.content .card p {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/** Main-Content **/

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.2), -30px 0px 40px rgba(0, 0, 0, 0.2);
}

.fa-eye {
  height: 29px;
  width: 30px;
  background: lightskyblue;
  border: none;
  transition: 0.3s;
  color: #fff;
  border-radius: 15px;
}

/**Footer**/
::-webkit-scrollbar {
  width: 12px;
  height: auto;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#fff, cyan);
  transition: 0.3s;
  border-radius: 25px;

}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(cyan, hotpink);
  border-radius: 25px;
}

footer {
  text-align: center;
  padding: 0rem 0rem 2rem 0rem;
  margin: auto;
  color: #fff;
  line-height: 0.5;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

.social-media {
  margin-bottom: 50px;
}

.fab {
  height: 30px;
  width: 50px;
  padding-top: 15px;
  border-radius: 50px;
  transition: 0.3s;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: lightskyblue;
  color: white;
}

.fa-discord {
  background: black;
  color: #fff;
}

.fa-microsoft {
  background: #fff;
  color: royalblue;
}

.fa-instagram {
  background: hotpink;
  color: #fff;
}

/*main-content*/

.fa-eye {
  height: 50px;
  width: 50px;
  background: lightskyblue;
  border: none;
  transition: 0.3s;
  color: #fff;
  margin-left: 5px;
  font-size: 1.8rem;
}

.fa-eye:hover {
  background: royalblue;
  color: yellow;
}

.social-media {
  margin-bottom: 0px;
}

.fab {
  height: 50px;
}

.fab:hover {
  background: transparent;
  color: fuchsia;
}

.slotbutton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0b193f;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #999;
}

.slotbutton:hover {
  background-color: #18337e
}

.slotbutton:active {
  background-color: #0b193f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.mainlist {
  width: 100%;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.gridlist {
  justify-content: center;
  background-color: #55B1F0;
  border-width: 50px;
  border-color: #fff;
  border-radius: 25px;
}

.gridlist h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
}

.gridlist h2 {
  text-align: center;
  color: green;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}

.gridlist h3 {
  color: rgb(170, 8, 8);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}

.gridlist h4 {
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
}

/*Footer*/

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

.social-media {
  margin-bottom: 0px;
}

.fab {
  height: 30px;
  width: 50px;
  padding-top: 15px;
  border-radius: 50px;
  transition: 0.3s;
}

.fab:hover {
  background: linear-gradient(red, orange, yellow);
  color: #333;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: lightskyblue;
  color: white;
}

.fa-discord {
  background: black;
  color: #fff;
}

.fa-microsoft {
  background: #fff;
  color: royalblue;
}

.fa-instagram {
  background: hotpink;
  color: #fff;
}

/* Responsive CSS */

@media screen and (max-width: 1000px) {
  .mainlist {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
  }
}

@media screen and (max-width: 780px) {
  .left_area h3 {
    margin-left: 0;
  }

  .mainlist {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
  .sidebar {
    display: none;
  }
  #sidebar_btn {
    display: none;
  }
  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }
  #check:checked~.content {
    margin-left: 0;
  }
  .mobile_nav {
    display: block;
    width: calc(100% - 0%);
  }
  .nav_bar {
    background: #222;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .nav_bar .nav_btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }
  .nav_bar .nav_btn:hover {
    color: #19B3D3;
  }
  .mobile_nav_items {
    background: #2F323A;
    display: none;
  }
  .mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  .mobile_nav_items a:hover {
    background: #19B3D3;
  }
  .mobile_nav_items i {
    padding-right: 10px;
  }
  .active {
    display: block;
  }
  .content .card .list {
    columns: 147px 2;
  }
}

@media screen and (max-width: 540px) {
  .logout_btn{
    margin-top: -35px !important;
  }
  .mainlist {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .left_area h3 {
    font-size: 15px;
    width: 15px;
  }
  .left_area span {
    color: #19B3D3;
  }
}

@media screen and (max-width: 360px) {
  .mainlist {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  #CurrentPassword {
    width: 75%;
    height: 30px;
  }
}