@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #64b5f6;
  overflow-x: hidden;
}

/* Header */

.page-msg {
  text-align: center;
  width: 103%;
  margin-top: -20px;
  margin-left: -20px;
}

.page-msg h1 {
  margin: 0;
  margin-top: 10px;
  background-color: #0F5298;
  color: #fff;
  font-size: 3.5rem;
  font-family: 'Oswald', sans-serif;
}

.page-msg h2 {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fff;
  color: midnightblue;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

header {
  z-index: 1;
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  margin-left: 50px;
}

.left_area span {
  color: #19B3D3;
}

.logout_btn {
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -35px !important;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover {
  background: #0B87A6;
}

.sidebar {
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(105% - 9%) !important;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover {
  background: #19B3D3;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 25px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover {
  color: #19B3D3;
}

#check:checked~.sidebar {
  left: -185px;
}

#check:checked~.sidebar a span {
  display: none;
}

#check:checked~.sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content {
  width: 95% !important;
  margin-top: 100px !important;
  padding: 20px;
  padding-left: 25px;
  margin-left: 250px;
  background-color: #D5f3fe;
  background-position: center;
  background-size: cover;
  height: auto;
  transition: 0.5s;
}

#check:checked~.content {
  margin-left: 60px;
}

#check:checked~.sidebar .profile_info {
  display: none;
}

#check {
  display: none;
}

.mobile_nav {
  display: none;
}

.content .card p {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/** Main-Content **/

.card {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 2px;
  text-align: center;
  background: #D5f3fe;
  width: 98%;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.img-select-button label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: #1c2331;
}

.img-select-button input:focus textarea:focus {
  outline: none;
}

.img-select-button .text-box {
  width: 80%;
  font-size: 1.5rem;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 10px;
  border: 3px solid #212121;
  margin-top: -50px;
}

.img-select-button .news-content {
  resize: none;
  width: 80%;
  height: 300px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 20px;
  border: 3px solid #212121;
  margin-top: -50px;
}

.btn {
  background-image: linear-gradient(to right, #0575E6 0%, #021B79 51%, #0575E6 100%)
}

.btn {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.post-display {
  margin: 0;
  width: 100%;
  background: midnightblue;
  border-spacing: 10px;
}

.post-list tr, .post-list td {
  border: 2px solid #fff;
  border-collapse: collapse;
  line-height: 1.5;
  border-spacing: 100px;
}

.post-list td {
  padding: 10px 0px 0px 10px;
}

.post-list td a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.3s;
}

.post-list td a:hover {
  color: cyan;
}

.post-list td h4 {
  margin: 0;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 10px;
  color: #fff;
}

.post-list td h4 a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  transition: 0.3s;
}

.post-list td h4 a:hover {
  color: hotpink;
}

.pages {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.pages a {
  text-decoration: none;
  color: #fff;
  background: midnightblue;
  border: 2px solid #fff;
  padding: 15px;
  font-weight: bold;
  font-size: 1rem;
}

.pages a:active {
  background: fuchsia;
  color: royalblue;
}

.pages a:hover:not(.active) {
  background: linear-gradient(red, orange, yellow);
  color: #333;
}

/* Footer */

::-webkit-scrollbar {
  width: 12px;
  height: auto;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#fff, cyan);
  transition: 0.3s;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(cyan, hotpink);
  border-radius: 25px;
}

footer {
  text-align: center;
  padding: 0rem 0rem 2rem 5.5rem;
  margin: auto;
  color: #fff;
  line-height: 0.5;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

.social-media {
  margin-bottom: 0px;
}

.fab {
  height: 30px;
  width: 50px;
  padding-top: 15px;
  border-radius: 50px;
  transition: 0.3s;
}

.fab:hover {
  background: linear-gradient(orange, yellow, red);
  color: midnightblue;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: lightskyblue;
  color: white;
}

.fa-discord {
  background: black;
  color: #fff;
}

.fa-microsoft {
  background: #fff;
  color: royalblue;
}

.fa-instagram {
  background: hotpink;
  color: #fff;
}

.mainlist {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  gap: 15px;
  grid-template-areas: "title" "newstitle" "newscontent";
}

.title {
  grid-area: title;
  padding: 20px;
}

.title h1 {
  font-size: 2rem;
}

.newstitle {
  grid-area: newstitle;
  padding: 20px;

}

.newstitle h1 {
  font-size: 2rem;
}

.newstitle input {
  width: 85%;
  height: 25px;
  padding: 5px;

}

.newscontent {
  grid-area: newscontent;
  padding: 20px;
  text-align: center;
  justify-content: center;

}

.newscontent h1 {
  font-size: 2rem;
}

.newscontent textarea {
  width: 85%;
  height: 250px;
  resize: none;
  padding: 5px;


}

.main-container {
  width: 100%;
}




/* Responsive CSS */

@media screen and (max-width: 1000px) {
  
}

@media screen and (max-width: 780px) {
  .left_area h3 {
    margin-left: 0;
  }

  .content{
    width: 93% !important;
    margin: auto !important;
  }
  .page-msg {
    width: 780px;
  }
  .card {
    margin-top: 5px;
    width: 100%;
  }
  /* Header */
  .sidebar {
    display: none;
  }
  #sidebar_btn {
    display: none;
  }
  .content {
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
    padding-bottom: 25px;
  }
  #check:checked~.content {
    margin-left: 0;
  }
  .mobile_nav {
    display: block;
    width: calc(100% - 0%);
  }
  .nav_bar {
    background: #222;
    width: 100vw !important;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .nav_bar .nav_btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }
  .nav_bar .nav_btn:hover {
    color: #19B3D3;
  }
  .mobile_nav_items {
    background: #2F323A;
    display: none;
  }
  .mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  .mobile_nav_items a:hover {
    background: #19B3D3;
  }
  .mobile_nav_items i {
    padding-right: 10px;
  }
  .active {
    display: block;
  }
  /* Main-Content */
  /* Footer */
  footer {
    padding: 0;
    padding-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
  }
  footer h3 {
    margin: 0;
  }

}

@media screen and (max-width: 540px) {
  input{
    width: 50%;
  }
  .content{
    padding-top: 0px !important;
  }
  .btn{
    width: 180px;
    font-size: 0.8rem;
  }
  .nav_bar{
    width: 91vw !important;
  }
  header{
    width: 91vw !important;
  }
  .card {
    margin-top: 2px;
    margin-left: -40px;
    width: 108%;
  }
  /* Header */
  .page-msg h1 {
    font-size: 2rem;
  }
  .page-msg h2 {
    font-size: 1.5rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  .left_area h3 {
    font-size: 15px;
    width: 15px;
    margin-left: 0px;
  }
  .left_area span {
    color: #19B3D3;
  }
  /* Main-Content */
  .post-display td a {
    font-size: 1.8rem;
  }
  .pages a {
    font-size: 1rem;
    padding: 10px;
  }
  /* Footer */
  footer {
    padding-top: 10px;
    padding-right: 20px;
  }
}