@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: cornflowerblue;
}

/* Header */

.page-msg {
    text-align: center;
}

.page-msg h1 {
    background: #fff;
    font-size: 3rem;
    color: midnightblue;
    font-style: italic;
    margin: 0;
    margin-top: 5px;
}

.page-msg h2 {
    margin: 0;
    background: midnightblue;
    color: #fff;
    font-size: 2rem;
    font-style: italic;
    padding: 5px 0px;
}

header {
    z-index: 1;
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
}

.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-left: 50px;
}

.left_area span {
    color: #19B3D3;
}

.logout_btn {
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
    border-radius: 25px;
}

.logout_btn:hover {
    background: #0B87A6;
}

.sign_in_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  
  }
  
  .sign_in_btn:hover{
    background: #0B87A6;
  }
  
  .sign_in_btn i{
    padding-right: 5px;
  }
  
  .register_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -48px;
    margin-right: 130px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  
  }
  
  .register_btn i{
    padding-right: 5px;
  }
  
  .register_btn:hover{
    background: #0B87A6;
  }

.sidebar {
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile_info .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .profile_info h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #19B3D3;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 25px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #19B3D3;
}

#check:checked~.sidebar {
    left: -185px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
}

.content {
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background: #55B1F0;
    background-position: center;
    background-size: cover;
    height: auto;
    transition: 0.5s;
}

#check:checked~.content {
    margin-left: 60px;
}

#check:checked~.sidebar .profile_info {
    display: none;
}

#check {
    display: none;
}

.mobile_nav {
    display: none;
}

.content .card p {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
}

/** Main-Content **/

.page-msg h1 {
    margin: 0;
    padding: 5px 0px;
    font-size: 3rem;
}

.page-msg h3 {
    margin:0;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-style: italic;
    background: royalblue;
    color: #fff;
    padding: 5px 0px;
}

.reset-mc {
    background: #fff;
    padding: 20px 20px;
    text-align: center;
    line-height: 1.5;
}

.reset-mc label {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
}

.reset-mc input {
    font-size: 2rem;
    border-radius: 25px;
    padding: 5px 20px;
    margin-bottom: 10px;
    width: 80%;
}

.reset-mc input:focus {
    outline: none;
}

.reset-mc button {
    font-size: 2rem;
    border-radius: 25px;
    border: none;
    background:midnightblue;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.reset-mc button:hover {
    background: linear-gradient(to bottom right, hotpink, purple, pink);
    color: #fff;
}

.reset-mc button:focus {
    outline: none;
}

#btn-top {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    height: 60px;
    width: 60px;
    padding: 0;
    transition: 0.3s;
}

#btn-top:hover {
    background: linear-gradient(to top right, cyan, aquamarine);
}

.fa-arrow-circle-up {
    color: tomato;
    font-size: 3rem;
    transition: 0.3s;
}

.fa-arrow-circle-up:hover {
    color: midnightblue;
}

/* Footer */

::-webkit-scrollbar {
    width: 12px;
    height: auto;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#fff, cyan);
    transition: 0.3s;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(cyan, hotpink);
    border-radius: 25px;
}

footer {
    text-align: center;
    padding: 0rem 0rem 2rem 2.8rem;
    margin: auto;
    color: #fff;
    line-height: 0.5;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

.social-media {
    margin-bottom: 0px;
}

.fab {
    height: 30px;
    width: 50px;
    padding-top: 15px;
    border-radius: 50px;
    transition: 0.3s;
}

.fab:hover {
    background: radial-gradient(cyan, purple, midnightblue, lightskyblue);
    color: #fff;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: lightskyblue;
    color: white;
}

.fa-discord {
    background: black;
    color: #fff;
}

.fa-microsoft {
    background: #fff;
    color: royalblue;
}

.fa-instagram {
    background: hotpink;
    color: #fff;
}

/* Responsive CSS */

@media screen and (max-width: 780px) {
    /* Header */
    .left_area h3 {
        margin-left: 0;
    }

    .sidebar {
        display: none;
    }
    #sidebar_btn {
        display: none;
    }
    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
        padding-bottom: 25px;
    }
    #check:checked~.content {
        margin-left: 0;
    }
    .mobile_nav {
        display: block;
        width: calc(100% - 0%);
    }
    .nav_bar {
        background: #222;
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .nav_bar .nav_btn {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }
    .nav_bar .nav_btn:hover {
        color: #19B3D3;
    }
    .mobile_nav_items {
        background: #2F323A;
        display: none;
    }
    .mobile_nav_items a {
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }
    .mobile_nav_items a:hover {
        background: #19B3D3;
    }
    .mobile_nav_items i {
        padding-right: 10px;
    }
    .active {
        display: block;
    }
    /* Main-Content */
    .page-msg {
        margin-top: 5px;
    }

    .page-msg h3 {
        font-size: 1.3rem;
        padding: 2px 2px;
    }


    /* Footer */
}

@media screen and (max-width: 540px) {
    /* Header */
    .left_area h3 {
        font-size: 15px;
        width: 15px;
        margin-left: 0px;
    }
    .left_area span {
        color: #19B3D3;
    }
    /* Main-Content */
    .page-msg {
        margin-top: 5px;
    }

    .page-msg h1{
        font-size: 2rem;
    }

    .page-msg h3 {
        font-size: 1.3rem;
        padding: 5px 2px;
    }

    .reset-mc label {
        font-size: 1.5rem;
    }

    .reset-mc input {
        font-size: 1.8rem;
    }

    .reset-mc button {
        font-size: 2rem;
    }

    #btn-top {
        bottom: 15px;
        right: 15px;
    }
    /* Footer */
    footer {
        padding-left: 0;
        margin
    }

    footer h3 {
        margin: 0;
        margin-top: 30px;
    }

    .social-media {
        margin-bottom: 0;
    }
}